<div class="grid-container">
  <div class="header">HEADER</div>
  <div class="synergies">SYNERGIES
    <!-- <synergies [synergies]="synergies"></synergies> -->
    <ul *ngFor="let trait of localTraits">
      <img [hidden] ="trait.count==0" [src]="trait.src">
    </ul>
  </div>
  <div class="team flex-container">
    TEAM
    <ul *ngFor="let champ of team">
      <icon [champ]="champ" (click)="removeFromTeam(champ)"></icon>
    </ul>
  </div>
  <div class="champs flex-container">
    CHAMPS
    <ul *ngFor="let champ of champs | async">
      <icon [champ]="champ" (click)="addToTeam(champ)"></icon>
    </ul>
  </div>
</div>