/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    font-size: 24px;
    color: aliceblue;
}
.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.grid-container{
    display: grid;
    background-image: linear-gradient(rgb(0, 35, 75), rgb(3, 39, 94));
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    width: 100%;
    height: 100vh;
}.grid-container > div{
 background-color: rgba(248, 242, 217, .1);
 text-align: center;
}
.header{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}
.synergies{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 6;
}
.team{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    justify-content: flex-start
}
.champs{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 9;
}
.icon{
    width:15px;
    height:15px;
}
.parent{
    position: relative;
    top: 0px;
    left: 0px; 
}
.medal{
    position: relative;
    top: 0px;
    left: 0px;
}
.traitIcon{
    position: absolute;
    top: 4px;
    left: 659px;
    width: 42px;
    height: 42px;
}
.test{
    position: absolute;
    top: 4px;
    left: 896px;
    width: 38px;
    height: 38px;
}